 /* body{
    margin-left: 100px;
    
}  */
button{
    font-family: 'Outfit Thin ';
}
  
*{
    margin: 0;
     padding: 0;
    border: border-box;
   color: white;
}
body{
    background-color: #000;
}  
nav a{
    font-family: 'sora';
    font-size: 1.5rem; 
    margin-left: -25px;
}
nav button{
    background-color: rgb(130, 180, 64);
    font-family: 'Outfit Thin' ;
font-weight: 300;
font-size: 31px;
}
#word{
     color: rgb(130, 180, 64);
      font-weight: 50;

     
}
/* 
#top{
    justify-content: space-between;
} */
#word2{
    color:#929292;
}
 
.img-thumbnail{
height: 80px;
border-radius: 100px;
background-color: #262626;
overflow: hidden;
border:#262626 ;

}

#MotionEffect  {
    margin-top: 8%;
}

/* .MotionEffect {
    margin-left: 100px; 
    margin-bottom: 7rem;
    padding-top: 10px;
    padding-right: 50px;
    border-radius: 30px;
    border: 1px solid #262626;  
    /* width: 230px;
    margin-top: 15%;  
}  */

#navbarNav{
    display: flexbox;
    justify-content: end;
    font-family: 'Outfit Thin ', sans-serif;
}

 #purchasenow{
margin-top: 15%;
margin-left: 60%;
width: 180px;
height: 50px;
 
font-weight: 200;
font-size: 18px;
font-family: 'Outfit Thin ', sans-serif;

} 
  
  #purchasenow:hover {
    border:  2px solid white;
    color: white;
    background-color: #000;
    
  }
#Unleash{
    margin-left:20px;
}

 #mid{
    padding: 100px 10px 30px 45px;
 }
 #sideHeading{
    font-family: 'Sora Regular', sans-serif;
    text-transform: capitalize;
font-weight: 500;
font-size: small;
   
  }
.first {
    background: linear-gradient(to right,#FF6C33 , #6a11cb 8%);
    -webkit-background-clip: text;
    color: transparent;
    background-clip: text; 
}
h1{
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}
#centre h1  {
    color: #EEE5FFBD;
    font-family: "Outfit", Sans-serif;
    font-size: 70px;
    display: grid;
    justify-content: center;
    margin-top: -10rem;
    margin-left: 9rem;
     font-weight:bold;
     font-stretch:wider ;
     
    /* line-height: 3.5rem;
    letter-spacing: 2px; */
 
} 

#single{
    line-height: 8;
    padding: 10px;
     margin-left: 100px;
}

#centre .first {
    background: linear-gradient(to right,#FF6C33 , #6a11cb 40%);
    background-clip: text; 
}
#images:nth-child(2) {
    margin-left: 50px;
}
#image2 {
    width: 170px;
height: 30px;
background-color: #000;

}  
.tags{
    color: #cebdecbd;
    margin-right: 30px;

    margin:-20px 0px 0px 90px;
}
#secheading {
    font-family: 'Outfit Thin ', sans-serif;
    padding-top: 10%;


}
.stick{
    margin-top: 30px;
}
h6 {
    letter-spacing: 1px;
    line-height: 2;
     
    
} 
#PurchasefromEnvato{
width: 30%;
margin: 20px 0 0 10px;
height: 60px;
border-radius: 20px;
background:  linear-gradient(to left, #F87516 0%, #5E11FF 100%);
 margin-bottom: 50px;
 font-size: large;
    /* background-clip: text;  */
}

#Apply{
    font-family: 'Outfit Thin ', sans-serif;
    color: #9a87bebd;
   font-size: 2.5rem;
    
   margin: 50px -30px 40px 40px;
    text-align: center;
   

}
   
      
.firstimage{
    width: 600px;
    height: 550px;
    background-color:#1f1535;
    margin-bottom:10px;
    border-radius:30px;
    margin-top:30px;
    border: rgb(63, 59, 59) solid  2px ;
     
}

.firstimage h5{
     font-size: 25px;
    margin-top: 20px;
    margin-left: 30px;
}
.firstimage p,img,h5{
     margin-top: 10px;
    margin-left: 20px;
      
}
.firstimage p{
    color:  #d6d3d9bd;
    padding-right: 10px;
    margin-left: 25px;
}
.firstimage:nth-of-type( even) {
    margin-left:50%;
    margin-bottom:200px;
    margin-top: -30%;
    

}  
.browsers{
    background-color:#1f1535;
    width: 110%;
    height: 250px;
    border-radius: 20px;
    border: rgb(63, 59, 59) solid  2px ;
    border-bottom: none;
    margin-top: 20px;
    

}
.browsers h4,img{
    margin-top: 30px;
    margin-bottom: 20px;
    letter-spacing: 1pt;
    font-family:  'Sora Regular ', sans-serif;
    font-weight: 560;
    
}
.browsers p{
    color:  #d6d3d9bd;
    font-size: 1.2rem;
font-weight: 600;
    font-family: 'Outfit Thin',sans-serif ;

}

#allRound :nth-child(even){
    margin-right: 50px;
     

}
#allRound  h1{
    font-family:  'Sora Regular ', sans-serif;
    margin-top: 8rem;
    line-height: 1.5;
    /* margin-left: 25%; */
    
    letter-spacing: 1pt;
    font-weight: 560;
    color: #faf8ffbd;
}
#allRound p{
    font-family: 'Outfit Thin',sans-serif ;
    color:  #d6d3d9bd;
    font-size: 1.1rem;
font-weight: 600;
line-height: 1.5;
 
 
}
#allRound{
    margin-left: 18%;
}

.bottomBox{
    background-color:#1f1535;
    width: 25%;
    height: 400px;
    border-radius: 30px;
    border: rgb(63, 59, 59) solid  2px ;
    border-bottom: none;
    margin-top: 20px;
    margin-bottom: 10%;
    gap: 5px;
     

}
.bottomBox h4{
    font-family:  'Sora Regular ', sans-serif;
    line-height: 2;
    font-weight: 600;
    margin-left: 20px;


}
.bottomBox p{
    font-family: 'Outfit Thin',sans-serif ;
    font-weight: 600;
    color:#d6d3d9bd;

    margin-left: 20px;
    font-size: 18px;
}

.bottomBox img{
   padding-right: 200px;

} 
.lastnav{
    /* padding-top: 10px;*/
      
    background:  linear-gradient(to right, #F87516 0%, #5E11FF 100%);
   color: #dbd6e1;
   display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.End{
    

   margin-right: 30px;
    font-size:15px;
    color :#dbd6e1;
}

.lastnav div{
    margin-left: 80px;
    
}

footer{
    min-height: 50px;
    min-width: 1200px;
    font-family: 'Outfit Thin',sans-serif ;
    margin-left: none;
    
}
/* }

#firstimage{
    width: 600px;
    height: 500px;
    border-radius: 4%;
    background-color: #2a1d48;  
    background-size: cover;  
    background-position: center;  
    border: 1px solid #463866;  
    background-size: cover; */

   


@media  (max-width:600px) {
    #PurchasefromEnvato{
        width:25%;
        margin: 10px 0 0 5px;
        font-size:0.6rem;

    }
}

@media (max-width:1000px) and (min-width:600px) {
    #PurchasefromEnvato{
        width:25%;
        margin: 13px 0 0 8px;
        font-size:0.8rem;

    }
}

@media  (min-width:1000px) {
    #PurchasefromEnvato{
        width:25%;
        margin: 15px 0 0 10px;
        font-size:1rem;

    }
}
@media (max-width:700px) {
    #purchasenow{
        margin-left: 60px;

}}

@media (min-width:700px) and (max-width:1000px) {
    #purchasenow{
        margin-left: 100px;

}}

@media (max-width:1000px)  {
    #centre{
        margin-left: 100px;

    }
    
}

@media (min-width:1000px)  {
    #Apply{
        display:inline-block;

    }
    
}

@media (min-width:500px) {
    #Apply h1{
        display: block;
        justify-content: space-evenly;
        padding-left: 20px;

    }
    
}
@media (min-width:400px) and  ( max-width:1400px)  {
    .firstimage:nth-of-type(1){
        margin-top: 30px;
        margin-left: 40px;
        
    }

    .firstimage:nth-of-type( even){
        margin-top: 40px;
        margin-left:40px ;
    }
    
}
